[build]
builder = "NIXPACKS"
buildCommand = "npm install"

[deploy]
startCommand = "node server-test.js"
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10

[healthcheck]
path = "/api/health"
timeout = 10
interval = 30
